<link rel="stylesheet" href="{{ 'section-gift-product-block.css' | asset_url }}" media="print" onload="this.media='all'">
<div class="gift-product-block-wrapper">
    <div class="gift-product-block-dot"></div>
    <div class="gift-product-block-content">
        <div class="title-block">
            {% if section.settings.heading != blank %}
            <h2 class="title">
                {{ section.settings.heading }}
            </h2>
            {% endif %}
            {% if section.settings.gift_label != blank  %}
            <div class="gift-label">
                <img class="gift-label-img" src="{{ section.settings.gift_label | image_url: width: 96 }}" alt="gift-label">
            </div>
            {% endif %}
        </div>
        <div class="gift-product-block-content-info">
            <div class="gift-product-block-content-info-block ">
                <div class="img-block">
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0632/6861/8448/files/Negroni_set_2.png?v=1710133549" alt="Negroni Set">
                      <img src="https://cdn.shopify.com/s/files/1/0632/6861/8448/files/Negroni_set.png?v=1710133550" alt="Negroni Set" class="hover-img" >
                    </a>
                </div>
                <div class="info-block">
                    <a href="#">
                        <h3 class="info-block-title ">
                            Negroni Set
                        </h3>
                    </a>
                    <div class="info-block-rating">
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                    </div>
                    <div class="info-block-options">
                        375 ML • 20.7% ABV
                    </div>
                    <p class="info-block-description">
                        Classic Negroni, White Negroni, <br> and  2 Italian-made lowball glasses.
                    </p>
                    <a href="#" class="info-block-link">
                    BUY NOW –
                    $99
                    </a>
                </div>
            </div>
            <div class="gift-product-block-content-info-block ">
                <div class="img-block">
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0632/6861/8448/files/Martini_set_2.png?v=1710133667" alt="Martini Set">
                      <img src="https://cdn.shopify.com/s/files/1/0632/6861/8448/files/Martini_set.png?v=1710133667" alt="Martini Set" class="hover-img" ></a>
                </div>
                <div class="info-block">
                    <a href="#">
                        <h3 class="info-block-title ">
                            Martini Set
                        </h3>
                    </a>
                    <div class="info-block-rating">
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                    </div>
                    <div class="info-block-options">
                        375 ML • 20.7% ABV
                    </div>
                    <p class="info-block-description">
                        Classic Martini, Espresso Martini, <br> and  2 Nick &amp; Nora glasses.
                    </p>
                    <a href="#" class="info-block-link">
                    BUY NOW –
                    $99
                    </a>
                </div>
            </div>
            <div class="gift-product-block-content-info-block ">
                <div class="img-block">
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0632/6861/8448/files/Bourbon_set_2.png?v=1710133778" alt="Bourbon Set">
                      <img src="https://cdn.shopify.com/s/files/1/0632/6861/8448/files/Bourbon_Set.png?v=1710133778" alt="Bourbon Set" class="hover-img" ></a>
                </div>
                <div class="info-block">
                    <a href="#">
                        <h3 class="info-block-title ">
                            Bourbon Set
                        </h3>
                    </a>
                    <div class="info-block-rating">
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                        <i>
                            <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.48326 11.3277C6.80106 11.1359 7.19894 11.1359 7.51674 11.3277L9.915 12.7752C10.6723 13.2323 11.6065 12.5533 11.4056 11.6919L10.7691 8.96361C10.6848 8.60211 10.8076 8.22365 11.0882 7.98059L13.2086 6.14369C13.8772 5.56448 13.5198 4.46622 12.6384 4.39144L9.84887 4.15478C9.47929 4.12343 9.15742 3.89009 9.01268 3.54859L7.92072 0.972174C7.57613 0.159146 6.42387 0.159146 6.07928 0.972174L4.98732 3.54859C4.84258 3.89009 4.52071 4.12343 4.15114 4.15478L1.36163 4.39144C0.480205 4.46622 0.122797 5.56448 0.791395 6.14369L2.9118 7.9806C3.19236 8.22365 3.31521 8.60211 3.23087 8.96361L2.59441 11.6919C2.39345 12.5533 3.32768 13.2323 4.085 12.7752L6.48326 11.3277Z" fill="#654E39"></path>
                            </svg>
                        </i>
                    </div>
                    <div class="info-block-options">
                        375 ML •&nbsp;21% ABV
                    </div>
                    <p class="info-block-description">
                        Signature Manhattan, Old Fashioned, <br> and  2 Italian-made lowball glasses.
                    </p>
                    <a href="#" class="info-block-link">
                    BUY NOW –
                    $99
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="gift-product-block-dot dot-btm"></div>
</div>

<script>
  if (window.innerWidth > 680) {
    const BRs = document.querySelectorAll('.gift-product-block-wrapper br');
    BRs.forEach((BR) => {
      BR.remove();
    });
  }
</script>

{% schema %}
{
  "name": "Gift Product Block",
  "tag": "div",
  "class": "gift-product-block",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "heading"
    },
    {
      "type": "image_picker",
      "label": "Gift Label",
      "id": "gift_label"
    },
    {
      "type": "product_list",
      "label": "Gift Products",
      "id": "gift_products",
      "limit": 3
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Gift Product Block"
    }
  ]
}
{% endschema %}